<div class="flex w-full h-auto block">
  <div id="homepage_desktop" class="grid grid-flow-row sm:grid-flow-col w-full h-full">
    <div class="relative m-auto flex justify-center w-full h-full items-center shadow-inner dark:border-r-2 dark:border-t-2 dark:border-tertiary-default"> 
      <div class="absolute m-auto w-4/5 h-4/5 flex justify-center items-center">
        <a href="<%=@current_user.id%>/games/" id="toSquare1" class="bg-secondary-default dark:text-white shadow-xl dark:bg-black dark:border-2 dark:border-tertiary-default aspect-1 m-auto rounded-full text-center flex justify-center items-center cursor-pointer transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out">
          <div>
            <img src="/images/homePage/newGame_white.png" class="w-1/3 m-auto dark:hidden" alt="Start new game" />
            <img src="/images/homePage/newGame_dark.png" class="w-1/3 m-auto hidden dark:block" alt="Start new game" />
          </div>

        </a>
      </div>
    </div>
    <div class="relative flex justify-center w-full h-full items-center shadow-inner dark:border-r-2 dark:border-t-2 dark:border-tertiary-default">
      <div class="absolute m-auto w-4/5 h-4/5 flex justify-center items-center">
        <a href="<%=@current_user.id%>/friends/" id="toSquare3" class="bg-primary-default dark:text-white shadow-xl dark:bg-black dark:border-2 dark:border-tertiary-default aspect-1 m-auto rounded-full text-center flex justify-center items-center cursor-pointer transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out">
          <div>
            <img src="/images/homePage/friends_white.png" class="w-1/3 m-auto dark:hidden" alt="Sets" />
            <img src="/images/homePage/friends_dark.png" class="w-1/3 m-auto hidden dark:block" alt="Sets" />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div id="responsePopUp" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="relative top-1/4 mx-auto p-5 border w-11/12 sm:w-1/3 bg-white rounded-lg shadow-lg dark:bg-black dark:border-2 dark:border-tertiary-default dark:text-tertiary-default">
        <button id="closePopUp" class="absolute top-2 right-4 text-lg font-bold dark:text-tertiary-default transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out cursor-pointer">&times;</button>
        <p class="ml-2" id="responseText">
          <%= t('notAvailable') %>
        </p>
    </div>
</div>