<%= form_tag('/auth/developer', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Developer</button>
<% end %>
<%= form_tag('/auth/facebook', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Facebook</button>
<% end %>
<%= form_tag('/auth/google', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Google</button>
<% end %>