<div class="w-full">
<div class="flex">

  <%= link_to "/#{@current_locale}/user/#{@current_user.id}/games/", id:"logout-mobile", class:"absolute" do %>
    <div class="flex flex-end items-center space-x-3 px-2 rtl:space-x-reverse cursor-pointer">
    <img src="/images/friends/undo-arrow.png" class="h-8 flex flex-end items-center transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out cursor-pointer mt-2 ml-2" alt="Undo friend"/>
      <!--<img src="/images/icons/logout_tertiary.png" class="h-8 hidden dark:block" alt="Settings" />-->
    </div>
  <% end %>
  </div>
  <h1 class="text-4xl mt-10 font-bold py-4 mx-auto text-center text-secondary-default dark:text-tertiary-default"><%= t('games.start') %></h1>
  <div class="w-full h-full">
    <input id="users-search-friends" class="w-11/12 sm:w-2/3 justify-center placeholder-tertiary-default dark:placeholder-black text-tertiary-default dark:text-black bg-white dark:bg-tertiary-default m-auto mt-8 px-6 py-2 rounded-md flex outline-none bg-white border-none focus:border-none focus:ring-0 shadow-xl" placeholder="<%= t('friends.search.searchBar') %>" />
    <div class="relative dark:border-tertiary-default shadow-md dark:border flip-card-login-inner w-screen mx-auto sm:w-[400px] rounded-md mt-8 h-[calc(100%-250px)] overflow-scroll">
      <ul id="to-Start-list"  data-current-user="<%=@current_user.id%>">
      </ul>
    </div>
  </div>
</div>